.header-cont{
    width: 100%; 
    padding: 5px;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: rgb(150, 238, 16);
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
}

.header-wrab{
    position: relative;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.company-name-cont{
    margin: 0px 10px;
}

.company-name{
    color: whitesmoke;
    font-size: x-large;
    font-weight: 500;
}

.header-link{
    height: 42px;
    width: 42px;
    border-radius: 50px;
    background-color: white;
    margin: 0px 10px;
    box-shadow: 1px 2px 15px -10px rgba(0, 0, 0, 0.75);
    display: inline-block;
    >i{
        font-size: 22px;
        margin: 0;
        line-height: 20px;
        margin: 10px 0px;
        color: rgb(150, 238, 16);
    }
}
