.product-card-cont{
    width: 500px;
    height: 200px;
    border: 1px rgb(150, 238, 16) solid;
    padding: 5px;
    margin: 5px;
    display: flex;
    border-radius: 10px;
}

.product-img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.product-wrap{
    flex: 1;
    text-align: left;
    margin-left: 5px;
}

.quantities-cont{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-name{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.product-price{
    margin: 0;
    font-size: small;
    margin-left: 10px;
}

.mrp-price{
    font-weight: 500;
    font-size: large;
}

.product-order-details-cont{
    height: calc(100% - 50px);
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}

.out-of-stock-info{
    color: black;
}

.add-to-cart-btn{
    background-color: rgb(150, 238, 16);
    color: white;
    outline: none;
    border: 0px;
    padding: 4px 13px;
    margin-bottom: 12px;
    font-size: 14px;
    border-radius: 5px;
}

.item-summary{
    text-align: center;
    margin: 3px;
    border-radius: 5px;
    position: relative;
}

.selected-quantity-cont{
    background-color: rgb(150, 238, 16);
    border: 1px rgb(150, 238, 16) solid;
    padding: 2px;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.selected-pieces-cont{
    border: 1px rgb(150, 238, 16) solid;
    padding: 2px;
    font-weight: 600;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cart-items-overview{
    display: flex;
    width: 150px;
    justify-content: center;
}

.cart-actions-cont{
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
    justify-content: space-around;
}