a.no-default-style{
    &:link , &:visited, &:hover, &:active  {
        text-decoration: none;
    }
}

button, a{
    &:hover{
        cursor: pointer;
    }
}

.brand-btn-style{
    background-color: rgb(150, 238, 16);
    color: white;
    outline: none;
    border: 0px;
    border-radius: 5px;
}

.t_align_l{
    text-align: left;
}