.cart-items-list-cont{
    min-height: 300px;
}

.cart-page-cont{
    max-width: 400px;
    margin: auto
}

.checkout-btn, .continue-shopping-btn{
    padding: 5px 10px;
}

.empty-cart-info-cont{
    margin: auto;
    padding: 20px;
}

.cart-footer-cont{
    max-width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}